---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h4>Apresentação de Sóstenes Apollo</h4>
			<p>Olá, sou Sóstenes Apollo, desenvolvedor com um forte foco em automação e engenharia de software. Com mais de 1.050 contribuições no último ano, sou apaixonado por colaborar em projetos open source e ajudar a melhorar ferramentas e processos através do código.</p>
		
			<h5>Realizações e Destaques</h5>
			<ul>
				<li><strong>YOLO Achievement</strong>: Reconhecido por conquistas significativas na comunidade de desenvolvimento.</li>
				<li><strong>Pull Shark x3</strong>: Experiência robusta em revisões e fusões de código.</li>
				<li><strong>Quickdraw</strong>: Rapidez e eficiência na resolução de problemas.</li>
				<li><strong>Arctic Code Vault Contributor</strong>: Contribuidor para o acervo do GitHub Arctic Code Vault, garantindo que meu trabalho dure por gerações.</li>
			</ul>

			<h5>Contribuição na Comunidade</h5>
			<p>Meu compromisso com a comunidade se reflete nas minhas contribuições contínuas, sejam elas revisões de código, resolução de problemas ou implementação de novos recursos. Estou sempre em busca de novas oportunidades para aprender e compartilhar conhecimentos.</p>
		
			<h5>Contato</h5>
			<p>Para saber mais sobre meu trabalho ou colaborar em projetos futuros, você pode conferir meu perfil no GitHub: <a href="https://github.com/sostenesapollo">sostenesapollo</a>.</p>
		
			<div class="highlight">
				<p>Vamos construir algo incrível juntos!</p>
			</div>
		</main>
		<Footer />
	</body>
</html>
